<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MVC</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/css/all.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container mt-4">
		<h1 class="text-primary">Spring Boot Tutorial</h1>
		<a href="@{/home}" class="btn btn-success mt-3">Go to home</a>
	</div>
</body>
</html>